.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* Light green background */
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #f5b5aa; /* Light grey background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  
  border-radius: 10px;
  
}
.youtubeLogo{
  width: 5%;
}
